<nav class="navbar">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/logo.jpg" alt="Logo">
      </a>
    </div>
    <ul class="nav-links" [class.show]="isMenuOpen">
      <li><a class="anton-regular" [routerLinkActiveOptions]="{ exact: true }" routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a class="anton-regular" routerLink="/build" routerLinkActive="active">Build With Us</a></li>
      <li><a class="anton-regular" routerLink="/about" routerLinkActive="active">About Us</a></li>
      <!-- <li><a class="anton-regular" routerLink="/contact" routerLinkActive="active">Book A Consultation</a></li> -->
    </ul>
    <div class="social-icons">
      <a href="" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/ibiza_projects/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="tel:8451234567" class="phone-icon"><i class="fas fa-phone-alt"></i> 845-123-4567</a>
    </div>
    

    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
  