<nav class="navbar">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/logo.png" alt="Logo">
    </a>
  </div>
  <ul class="nav-links" [class.show]="isMenuOpen">
    <li><a class="anton-regular" [routerLinkActiveOptions]="{ exact: true }" routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a class="anton-regular" routerLink="/build" routerLinkActive="active">Build With Us</a></li>
    <li><a class="anton-regular" routerLink="/about" routerLinkActive="active">About Us</a></li>
  </ul>

  <div class="social-icons">
    <a href="https://www.facebook.com/share/15VjUgv9hZ/?mibextid=wwXIfr" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/ibiza_projects/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="tel:+18457297666" class="phone-icon"><i class="fas fa-phone-alt"></i></a>
  </div>

  <div class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Slide-in menu -->
  <div class="slide-in-menu" [class.show]="isMenuOpen">
    <div class="menu-header">
      <button class="back-button" (click)="toggleMenu()">&#x2190;</button>
      <img src="assets/logo.png" alt="Logo" class="menu-logo">
    </div>
    <ul class="menu-links">
      <li><a (click)="closeMenu()" [routerLinkActiveOptions]="{ exact: true }" routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a (click)="closeMenu()" routerLink="/build" routerLinkActive="active">Build With Us</a></li>
      <li><a (click)="closeMenu()" routerLink="/about" routerLinkActive="active">About Us</a></li>
    </ul>
    <div class="menu-footer">
      <a href="tel:8451234567" class="phone-number"><i class="fas fa-phone-alt"></i> 845-123-4567</a>
      <div class="social-icons">
        <a href="https://www.facebook.com/share/15VjUgv9hZ/?mibextid=wwXIfr" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/ibiza_projects/" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</nav>
