<div id="background">
    <div class="trans-background">
      <h1 id="heading" class="oswald-font">Here's what our satisfied clients are saying...</h1>
      <div class="testimonials-container">
        <div *ngFor="let user of users" class="card-horizontal">
          <!-- <div class="user-image">
            <img [src]="user.image" alt="User Image" class="rounded-circle" />
          </div> -->
          <div class="user-content">
            <i class="fa fa-quote-left quote-icon"></i>
            <h5 class="oswald-font mb-2">{{ user.name }}</h5>
            <p class="user-description">{{ user.description }}</p>
            <div class="ratings">
              <i class="fa fa-star" *ngFor="let star of [].constructor(user.rating)"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  